
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.password {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    border-radius: 8px;
    overflow: hidden;
    padding-right: 5px;
}
input {
    padding: 10px;
    border: none;
    outline: none;
}
button {
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
}
button img {
    width: 20px;
    height: 20px;
}